
p, h1, h2, h3, h4 {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
:root {
  --primery-background-color:#FFFFFF;
  --secondary-background-color:#E5E5E5;
  --hero-footer-background-color:#2F303A;
  --main-title-color: #FFFFFF;
  --secondary-title-color:  #212121;
  --main-text-color:  #757575;
  --accent-color:#2196F3;
}
body {
  font-family: "Roboto", sans-serif;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.header {
padding-top: 32px;
padding-bottom: 32px;
display: flex;

border-bottom: 1px solid #ECECEC;
} 
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.header .container {
  display: flex;
  align-items: center;
}
.header-navigation {
  display: flex;
  align-items: center;
}
.header-item:not(:last-child) {
  margin-right: 40px;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.header-logo {
  font-family: Raleway;
  font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;

color: var(--secondary-title-color);
margin-right: 93px;
}

.main-navigation {
  width: 294px;
height: 16px;

}
.header-list {
  display: flex;
}
.header-item
.header-link {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;

color: var(--secondary-title-color);
}
.header-link:hover,
.header-link:focus {
color: var(--accent-color);
}
.header-right {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.header-tel {
  display: block;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;

color: var(--main-text-color) ;
margin-right: 50px;
}
.header-mail {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  
  color: var(--main-text-color) ;
  }
  
.hero {
  background-color: var(--hero-footer-background-color);
  display: flex;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-container {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.hero-title {
  font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: var(--main-title-color);
width: 696px;
height: 120px;
}
.hero-button {
  font-family: Roboto;
font-style: normal;
  background-color: var(--accent-color);
  font-weight: bold;
font-size: 16px;
line-height: 1.87;
text-align: center;
letter-spacing: 0.06em;
cursor: pointer;

color: var(--main-title-color);
width: 200px;
height: 50px;
}
.features {
  background-color: var(--secondary-background-color);
  display: flex;
  padding-bottom: 92px;
}
.features-container {
  display: flex;
}

.features-items:not(:last-child) {
  margin-right: 30px;
}
.features-list  {
  display: flex;
  
}
.features-title {
  font-weight: bold;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;

color: var(--secondary-title-color);
margin-bottom: 10px;
}
.features-items {
  width: 270px;
height: 101px;
flex-direction: column;
}
.features-text {
  font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;

color: var(--main-text-color);
}
.images {
  background-color: var(--secondary-background-color);
  display: flex;
  padding-top: 0px;
}
.images-list {
  display: flex;
  justify-content: space-between;
}
.images-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  
  color: var(--secondary-title-color);
  margin-bottom: 52px;
}

.team-section {
  background-color: #F5F4FA;
display: flex;
}
.team-list {
  display: flex;
  justify-content: space-between;
}
.team-title {
font-weight: bold;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;

color: var(--secondary-title-color);
margin-bottom: 50px;
}
.team-name-container {
  padding-top: 30px;
  padding-bottom: 30px;
  align-content: center;
}
.team-name {
  font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;

color: var(--secondary-title-color);
margin-bottom: 10px;
}
.team-position {
  font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;

color: var(--main-text-color);
}
.contacts {
  background-color: var(--hero-footer-background-color);
display: flex;
padding-top: 60px;
padding-bottom: 60px;
}
.contacts-container {
  display: flex;
  flex-direction: column; 
}
.contacts-address {
  font-style: normal;
  font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;

color: var(--main-title-color);
}
.contacts-items:not(:last-child) {
  margin-bottom: 9px;
}
.contacts-link {
  font-style: normal;
  font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);
}
.contacts-link:hover,
.contacts-link:focus {
color: var(--accent-color);
}
.contacts-logo {
  font-family: Raleway;
  font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;

color: var(--main-title-color);
width: 145px;
height: 31px;
margin-bottom: 20px;
}
span {
  color: var(--accent-color);
}
.portfolio-hero {
display: flex;
}

.portfolio-container {
display: flex;
flex-direction: column;
align-items: center;
}
.portfolio-hero-list {
  display: flex;
}
.portfolio-hero-item:not(:last-child) {
  margin-right: 8px;
}
.portfolio-hero-button:focus,
.portfolio-hero-button:hover {
  color: var(--main-title-color);
  background-color: var(--accent-color);
}
.portfolio-hero-item {
  
}
.portfolio-hero-button {
  font-family: Roboto;
  font-style: normal; 
  font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
cursor: pointer;
color: var(--secondary-title-color);
flex-direction: column;
padding: 6px 22px;
}
.our-products-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}
.our-products-item {
  border-bottom: 1px solid #EEEEEE;
  margin-top: 30px;
}
.our-products-item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.our-title-container {
padding: 20px 24px;
}
.our-products-title {
  font-weight: bold;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;

color: var(--secondary-title-color);
}
.our-products-text {
  font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;

color: var(--main-text-color);

}
 